{% extends 'base.html' %}

{% block content %}

<h2>Add Invoice for {{period}} </h2>

<form action="." method='POST'>{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' value='Save' />
</form>


{% endblock %}
