{% extends 'base.html' %}
{% block content %}
<h1>All Expenses </h1>

<a href = "{%url 'expense-create'%}">Add an expense</a>

<ul>
{% for expense in object_list %}
    <li>
        <a href='{{expense.get_absolute_url}}'>{{expense.name}}</a>
        <br />
        {{expense.get_unit_cost}}// {{expense.invoice_date}}
    </li>
{% endfor %}
</ul>
{% endblock %}
