
{% extends 'base.html' %}

{% block content %}

<h1>{{object.name}}</h1>
<hr />
<p><b> Cost: </b> {{expense.get_unit_cost}}  <br/>
  <b> Invoice date: </b> {{expense.invoice_date}}</p>
  <br/><br/>

  <a href="{{expense.get_absolute_url}}/delete"> Delete </a>

<hr/>
<h3> Invoices </h3>

<ul>
{% for invoice in invoices %}
    <li>
      <b>{{invoice.0}}</b> :
      {%if invoice.1.0%}

      <!-- The form is for delete button  -->

      <form method="POST" action="{% url 'invoice-delete' pk=expense.id itd=invoice.1.0.id %}">
        €{{invoice.1.0.invoice_cost}} ( {{invoice.1.0.invoice_date}} )  {% csrf_token %}<input type="submit" value="DELETE">
      </form>


      {%else%}
      Not received yet - <a href='{%url "invoice-create" pk=expense.id pe=invoice.0 %}'>add here</a>
      {%endif%}
    </li>
{% endfor %}
</ul>



{% endblock %}
